<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">
<ui:composition>
    <h:column>
        <f:facet name="header">#{nome}</f:facet>
        <h:outputText value="#{valor}" escape="#{escapar}"/>
    </h:column>
</ui:composition>

</html>