<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:esp="http://www.especiliza.com.br/facelets/taglibs"
      xmlns:espc="http://xmlns.jcp.org/jsf/composite/componentes"
>
<ui:composition template="estrutura.xhtml">
    <ui:define name="direita">
        <h:messages infoClass="info" errorClass="erro" warnClass="warn" fatalClass="fatal"/>
        #{flash.mensagem.summary}
    </ui:define>
    <h1>Cadastro de quartos:</h1>
    <h:form id="formDados">
        <h:panelGrid columns="3">
            <f:facet name="header">Dados do quarto:</f:facet>
            <h:outputLabel for="numero" value="Número:"/>
            <h:inputText id="numero" value="#{cadastroQuartosBean.quartoAtual.numero}"/>
            <h:message for="numero"/>
            <h:outputLabel for="tipo" value="Tipo:"/>
            <h:selectOneMenu id="tipo" value="#{cadastroQuartosBean.quartoAtual.tipo}"
                             binding="#{cadastroQuartosBean.selectTipos}"/>
        </h:panelGrid>
        <h:commandButton action="#{cadastroQuartosBean.salvar}"
                         image="#{resource['img:salvar.png']}"/>
        <h:commandButton immediate="true"
                         action="#{cadastroQuartosBean.cancelar}"
                         image="#{resource['img:cancelar.png']}"/>
    </h:form>
    <h:form id="formTabela">
        <h2>Lista de quartos cadastrados:</h2>
        <h:dataTable id="tabela" value="#{cadastroQuartosBean.lista}" var="q" rowClasses="linha1, linha 2">
            <esp:coluna nome="Número:" valor="#{q.numero}" escapar="true" informar="false"/>
            <esp:coluna nome="Tipo:" valor="#{q.tipo}" escapar="true" informar="false"/>
            <h:column>
                <f:facet name="header">Ações</f:facet>
                <espc:editarExcluir alvo="#{cadastroQuartosBean.quartoAtual}"
                                    excluirListener="#{cadastroQuartosBean.excluir}"/>
            </h:column>
        </h:dataTable>
    </h:form>
</ui:composition>
</html>
