<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:esp="http://www.especiliza.com.br/facelets/taglibs"
      xmlns:espc="http://xmlns.jcp.org/jsf/composite/componentes"
>
<ui:composition template="estrutura.xhtml">
    <script type="text/javascript">
        function functionError() {
        }

        function functionEvent(data) {
            /*var mensagem = "";
            for (var i in data) {
              mensagem += i + ": " + data[i] + "\n";
            }
            alert(mensagem);*/
        }
    </script>
    <ui:define name="direita">
        <h:messages infoClass="info" errorClass="erro" warnClass="warn" fatalClass="fatal"/>
        #{flash.mensagem.summary}
    </ui:define>
    <f:metadata>
        <f:viewParam name="codigo" value="#{cadastroPessoasBean.codigoGet}"/>
        <f:event listener="#{cadastroPessoasBean.viewListener}" type="preRenderView"/>
    </f:metadata>
    <h1>Cadastro de pessoas:</h1>
    <h:outputFormat value="#{mens.editar}"
                    rendered="#{not empty cadastroPessoasBean.pessoaSelecionada.nome}">
        <f:param value="#{cadastroPessoasBean.pessoaSelecionada.nome}"/>
    </h:outputFormat>
    <h:form>
        <h:panelGrid columns="3">
            ${mens.escolha}
            <h:selectOneMenu value="#{geralBean.locale}">
                <f:selectItems value="#{geralBean.localesDisponiveis}"/>
                <f:converter converterId="conversorLocale"/>
            </h:selectOneMenu>
            <h:commandButton value="Ok" action="#{geralBean.atualizarLocale}"/>
        </h:panelGrid>
    </h:form>
    <h:form rendered="#{empty cadastroPessoasBean.pessoaSelecionada}">
        <h:panelGrid id="gridTipoPessoa" columns="2">
            <f:facet name="header">Tipo pessoa:</f:facet>
            <h:selectOneRadio value="#{cadastroPessoasBean.tipoNovaPessoa}">
                <f:selectItem itemLabel="Pessoa física" itemValue="PF"/>
                <f:selectItem itemLabel="Pessoa jurídica" itemValue="PJ"/>
            </h:selectOneRadio>
            <h:commandButton value="Criar nova" action="#{cadastroPessoasBean.criar}"/>
        </h:panelGrid>
    </h:form>
    <h:form rendered="#{not empty cadastroPessoasBean.pessoaSelecionada}">
        <h:panelGrid columns="3">
            <f:facet name="header">Dados gerais:</f:facet>

            <h:outputLabel for="nome" value="Nome:"/>
            <h:inputText id="nome"
                         valueChangeListener="#{cadastroPessoasBean.ouvinteAjax}"
                         value="#{cadastroPessoasBean.pessoaSelecionada.nome}">
                <f:ajax event="keyup"
                        listener="#{cadastroPessoasBean.ouvinteAjax}"/>
            </h:inputText>
            <h:message styleClass="erro" for="nome"/>

            <h:outputLabel for="email" value="E-mail:"/>
            <h:inputText id="email" value="#{cadastroPessoasBean.pessoaSelecionada.email}"
                         validatorMessage="E-mail inválido.">
                <f:validateRegex pattern=".+@.+"/>
                <f:ajax render="mensEmail :formTabela:tabela"
                        execute="@this"
                        onerror="functionError"
                        onevent="functionEvent"/>
            </h:inputText>
            <h:message id="mensEmail" styleClass="erro" for="email"/>
            <h:outputLabel for="telefone" value="Telefone:"/>
            <h:inputText id="telefone"
                         value="#{cadastroPessoasBean.pessoaSelecionada.telefone}"/>
            <h:message styleClass="erro" for="telefone"/>
        </h:panelGrid>
        <h:panelGrid columns="3" id="gridPessoaFisica"
                     rendered="#{cadastroPessoasBean.pessoaFisicaSelecionada}">
            <f:facet name="header">Dados pessoa física:</f:facet>
            <h:outputLabel value="RG" for="rg"/>
            <h:inputText id="rg" value="#{cadastroPessoasBean.pessoaSelecionada.rg}"/>
            <h:message for="rg" styleClass="erro"/>
            <h:outputLabel value="CPF" for="cpf"/>
            <h:inputText id="cpf" value="#{cadastroPessoasBean.pessoaSelecionada.cpf}"
                         validatorMessage="CPF inválido.">
                <f:validateRegex pattern="\d{3}\.\d{3}\.\d{3}\-\d{2}"/>
                <f:validator validatorId="validadorDeCPF"/>
            </h:inputText>
            <h:message styleClass="erro" for="cpf"/>
            <h:outputLabel value="Data de nascimento" for="dataNascimento"/>
            <h:inputText id="dataNascimento"
                         value="#{cadastroPessoasBean.pessoaSelecionada.dataNascimento}"
                         converterMessage="Insira a data no formato dd/MM/yyyy">
                <f:convertDateTime pattern="dd/MM/yyyy" type="date"/>
            </h:inputText>
            <h:message styleClass="erro" for="dataNascimento"/>
            <h:outputLabel value="Sexo" for="sexo"/>
            <h:selectOneRadio id="sexo"
                              value="#{cadastroPessoasBean.pessoaSelecionada.sexo}">
                <f:selectItems value="#{cadastroPessoasBean.sexos}" var="s"
                               itemLabel="#{s.nome}"/>
            </h:selectOneRadio>
            <h:message styleClass="erro" for="sexo"/>
        </h:panelGrid>
        <h:panelGrid id="gridPessoaJuridica"
                     rendered="#{cadastroPessoasBean.pessoaJuridicaSelecionada}"
                     columns="3">
            <f:facet name="header">Dados pessoa jurídica:</f:facet>
            <h:outputLabel value="CNPJ" for="cnpj"/>
            <h:inputText id="cnpj" value="#{cadastroPessoasBean.pessoaSelecionada.cnpj}"
                         validatorMessage="CNPJ inválido.">
                <f:validateRegex pattern="\d{2}(\.\d{3}){2}/\d{4}-\d{2}"/>
            </h:inputText>
            <h:message styleClass="erro" for="cnpj"/>
            <h:outputLabel value="Razão social" for="razaoSocial"/>
            <h:inputText id="razaoSocial"
                         value="#{cadastroPessoasBean.pessoaSelecionada.razaoSocial}"/>
            <h:message styleClass="erro" for="razaoSocial"/>
            <h:outputLabel value="Inscrição estadual" for="inscricaoEstadual"/>
            <h:inputText id="inscricaoEstadual"
                         value="#{cadastroPessoasBean.pessoaSelecionada.inscricaoEstadual}"/>
            <h:message styleClass="erro" for="inscricaoEstadual"/>
            <h:outputLabel value="Inscrição municipal" for="inscricaoMunicipal"/>
            <h:inputText id="inscricaoMunicipal"
                         value="#{cadastroPessoasBean.pessoaSelecionada.inscricaoMunicipal}"/>
            <h:message styleClass="erro" for="inscricaoMunicipal"/>
        </h:panelGrid>
        <h:commandButton action="#{cadastroPessoasBean.salvar}"
                         image="#{resource['img:salvar.png']}"/>
        <h:commandButton immediate="true"
                         action="#{cadastroPessoasBean.cancelar}"
                         image="#{resource['img:cancelar.png']}"/>
    </h:form>
    <h:form id="formTabela">
        <h2>Lista de pessoas cadastradas:</h2>
        <h:dataTable id="tabela" value="#{cadastroPessoasBean.lista}" var="p">
            <esp:coluna nome="Nome" valor="#{p.nome}" escapar="true"/>
            <esp:coluna nome="E-mail" valor="#{p.email}" escapar="true"/>
            <esp:coluna nome="Telefone" valor="#{p.telefone}" escapar="true"/>
            <h:column>
                <f:facet name="header">Ações:</f:facet>
                <espc:editarExcluir alvo="#{cadastroPessoasBean.pessoaSelecionada}"
                                    excluirListener="#{cadastroPessoasBean.excluir}"
                                    objeto="#{p}"
                />
            </h:column>
        </h:dataTable>
    </h:form>
</ui:composition>
</html>
