<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">

<h:head>
    <title>#{titulo}</title>
    <!--<ui:insert name="titulo">Um título que vai ser modificado pela página.</ui:insert>-->
    <!--<link rel="stylesheet" href="css/style.css"/> -->
    <h:outputStylesheet library="css" name="styles.css"/>
    <!-- <h:outputStylesheet value="#{resource['css:styles.css']}"/>-->
</h:head>
<h:body>
    <div id="topo">
        <h:graphicImage name="especializa.jpg" library="img"/>
        <h:form>
            <ui:repeat var="l" value="#{geralBean.localesDisponiveis}">
                <h:commandButton image="bandeiras/#{l}.gif"
                                 actionListener="#{geralBean.atualizarLocale}">
                    <f:attribute name="locale" value="#{l}"/>
                </h:commandButton>
            </ui:repeat>
        </h:form>
    </div>
    <div id="conteudo">
        <div id="esquerda">
            <ui:include src="menu.xhtml"/>
        </div>
        <div id="direita">
            <ui:insert name="direita">O que vem do lado direito.</ui:insert>
        </div>
        <div id="centro">
            <ui:insert>O que vem no centro.</ui:insert>
        </div>
    </div>
    <div id="rodape">
        <strong>Specializa treinamentos</strong><br/>
        +55 55 5555-5555
    </div>
</h:body>
</html>