<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xml:lang="en" lang="en">
<ul>
    <li><h:link outcome="inicio" value="Primeiro"/></li>
    <li><h:link outcome="cadastropessoas.jsf" value="Cadastro de pessoas"/></li>
    <li><h:link outcome="cadastroquartos.jsf" value="Cadastro de quartos"/></li>
    <li><h:link outcome="primefaces.jsf" value="Exemplo de PrimeFaces"/></li>
</ul>
</html>