<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:esp="http://www.especiliza.com.br/facelets/taglibs"
      xmlns:espc="http://xmlns.jcp.org/jsf/composite/componentes"
      xmlns:p="http://primefaces.org/ui"
>
<ui:composition template="estrutura.xhtml">
    <ui:param name="titulo" value="Exemplos PrimeFaces"/>
    <ui:define name="direita">
        <p:growl showDetail="true" id="mensagens"/>
    </ui:define>
    <h:form prependId="false">
        <p:tabView id="primeFaces">
            <p:tab title="Primeiros exemplos">
                <h:panelGrid columns="2">
                    <h:outputLabel for="nome" value="Nome:"/>
                    <p:keyboard id="nome"/>
                    <h:outputLabel for="senha" value="Senha:"/>
                    <p:password id="senha" promptLabel="Digite a senha"
                                weakLabel="Senha fraca" strongLabel="Senha forte"
                                goodLabel="Senha razoável" feedback="true"/>
                    <h:outputLabel for="data" value="Data:"/>
                    <p:calendar id="data"
                                locale="#{geralBean.locale}"
                                pages="2"
                                showOn="button"
                                showOtherMonths="true"
                                selectOtherMonths="true"
                                value="#{primeFacesBean.data}"
                                showButtonPanel="true"
                    >
                        <p:ajax event="dateSelect" listener="#{primeFacesBean.definirData}"
                                update="mensagens"/>
                    </p:calendar>
                    <p:button value="Salvar (Ajax)"/>
                    <h:commandButton value="Salvar"/>
                </h:panelGrid>
            </p:tab>
            <p:tab title="Opinião">
                <h:outputText value="Gostou do Primefaces?"/>
                <p:rating stars="5"/>
            </p:tab>
            <p:tab title="Troca de tema">
                <!--
                <p:themeSwitcher initialText="Mude o tema" buttonPreText="Tema:" />
                -->
            </p:tab>
        </p:tabView>
        <!--</p:panel>-->
        <p:resizable for="primeFaces"/>
        <p:draggable for="primeFaces" opacity="0.6"/>
    </h:form>
</ui:composition>
</html>