<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<ui:composition template="estrutura.xhtml">
    <ui:param value="Minha primeira página JSF... agora com Facelet Templates." name="titulo"/>
    <!--<ui:define name="titulo">Minha primeira página JSF... agora com Facelet Templates.</ui:define>-->
    <h1>Meu primeiro exemplo JSF!</h1>
    <p>Sabe o que o bean tem a dizer?</p>
    <!--<p>p:${meuPrimeiroBean.ola}</p> <br/>-->
    <h:outputText value="h: #{meuPrimeiroBean.ola}" rendered="#{meuPrimeiroBean.exibir}"
                  escape="false"/>
    <h:form>
        <p>Vamos exibir o que o bean tem a dizer?</p>
        <h:selectBooleanCheckbox value="#{meuPrimeiroBean.exibir}"/>
        <h:commandButton value="Enviar"/>
        <p>Link para a especializa:</p>
        <h:outputLink value="https://especializa.com.br/catalogo">
            Cursos de Java na Especializa!
        </h:outputLink>
        <p>Usando a tag link:</p>
        <h:link outcome="cadastropessoas.jsf" value="Cadastro de pessoas!"/>
        Usando um campo solto:
        <h:inputText id="solto"/>
    </h:form>
    <form action="cadastropessoas.jsf">
        Digite o codigo da pessoaa editar:
        <h:inputText id="codigo"/>
        <input type="submit" value="Enviar"/>
    </form>
</ui:composition>

</html>
