<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
>
<composite:interface>
    <composite:attribute name="objeto"/>
    <composite:attribute name="alvo"/>
    <composite:attribute name="excluirListener" method-signature="void action()"/>
    //java.lang.String
</composite:interface>
<composite:implementation>
    <h:commandLink value="Editar">
        <f:setPropertyActionListener target="#{cc.attrs.alvo}"
                                     value="#{cc.attrs.objeto}"/>
        <f:param name="codigo" value="#{cc.attrs.objeto.codigo}"/>
    </h:commandLink> |
    <h:commandLink value="Excluir" action="#{cc.attrs.excluirListener}">
        <f:setPropertyActionListener target="#{cc.attrs.alvo}"
                                     value="#{cc.attrs.objeto}"/>
    </h:commandLink>
</composite:implementation>
</html>